@charset "UTF-8";


.pipi {
	color: cornflowerblue;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}.pipi {
}
.pipi {
}

.newfont {
	font-family: 'Playfair Display', serif;
	color: #D064D4;
	
}

.cowboyfont {
	font-family: 'Playfair Display', serif;
font-family: 'Smokum', cursive;
	color:#A253DC
}